body {
    background-color: antiquewhite;
    background-image: url('background-image-for-webPage-assignment.jpg');
  }
  
  img {
    height: 200px;
  }
  .col {
    display: flex;
  }
  
  .item {
    position: relative;
    left: -20px; /* Adjust the value as needed */
    color: red;
  }